-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: aps
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_users`
--

DROP TABLE IF EXISTS `admin_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_lengkap` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('admin','operator') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'admin',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_users`
--

LOCK TABLES `admin_users` WRITE;
/*!40000 ALTER TABLE `admin_users` DISABLE KEYS */;
INSERT INTO `admin_users` VALUES (1,'admin','$2y$10$0H7HWHszUSO6H.FUqmTaW.NYNQmqnCg7pziIbFeXE4FOFRhGaZ3Ye','Administrator','admin','2026-04-27 16:10:41','2026-04-27 16:10:41');
/*!40000 ALTER TABLE `admin_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `identitas_pengusul`
--

DROP TABLE IF EXISTS `identitas_pengusul`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `identitas_pengusul` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_pt` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama_fakultas` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama_prodi` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jenjang` enum('D3','STr','S1','S2','S2T','S3','S3T') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'S1',
  `alamat` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telepon` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `website` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_sk_banpt` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `peringkat_akreditasi` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_kadaluarsa` date DEFAULT NULL,
  `kaprodi_nama` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kaprodi_nidn` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `identitas_pengusul`
--

LOCK TABLES `identitas_pengusul` WRITE;
/*!40000 ALTER TABLE `identitas_pengusul` DISABLE KEYS */;
INSERT INTO `identitas_pengusul` VALUES (1,'Universitas XYZ ABC','Fakultas Teknik','Teknik Informatika','D3','','','','','','','2026-04-30','','','2026-04-27 16:10:41','2026-04-28 08:22:58');
/*!40000 ALTER TABLE `identitas_pengusul` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_dosen`
--

DROP TABLE IF EXISTS `master_dosen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_dosen` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nidn` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `pendidikan_pasca` enum('S2','S3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bidang_keahlian` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kesesuaian_kompetensi` tinyint(1) DEFAULT '0',
  `jabatan_akademik` enum('Tenaga Pengajar','Asisten Ahli','Lektor','Lektor Kepala','Guru Besar') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'Tenaga Pengajar',
  `sertifikat_pendidik` tinyint(1) DEFAULT '0',
  `sertifikat_kompetensi` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prodi_id` int DEFAULT NULL,
  `status_ikatan` enum('tetap','tidak_tetap','industri') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'tetap',
  `status_aktif` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nidn` (`nidn`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `master_dosen_ibfk_1` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_dosen`
--

LOCK TABLES `master_dosen` WRITE;
/*!40000 ALTER TABLE `master_dosen` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_dosen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_mahasiswa`
--

DROP TABLE IF EXISTS `master_mahasiswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_mahasiswa` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nim` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `angkatan` year DEFAULT NULL,
  `prodi_id` int DEFAULT NULL,
  `status` enum('aktif','lulus','cuti','do','transfer') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'aktif',
  `jenis` enum('reguler','transfer') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'reguler',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nim` (`nim`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `master_mahasiswa_ibfk_1` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_mahasiswa`
--

LOCK TABLES `master_mahasiswa` WRITE;
/*!40000 ALTER TABLE `master_mahasiswa` DISABLE KEYS */;
INSERT INTO `master_mahasiswa` VALUES (1,'2313','boy',2026,1,'aktif','reguler','2026-04-27 17:01:15','2026-04-27 17:01:15');
/*!40000 ALTER TABLE `master_mahasiswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_mata_kuliah`
--

DROP TABLE IF EXISTS `master_mata_kuliah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_mata_kuliah` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_mk` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_mk` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `sks_teori` int DEFAULT '0',
  `sks_praktek` int DEFAULT '0',
  `semester` int DEFAULT NULL,
  `jenis_mk` enum('wajib','pilihan') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'wajib',
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_mk` (`kode_mk`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `master_mata_kuliah_ibfk_1` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_mata_kuliah`
--

LOCK TABLES `master_mata_kuliah` WRITE;
/*!40000 ALTER TABLE `master_mata_kuliah` DISABLE KEYS */;
INSERT INTO `master_mata_kuliah` VALUES (1,'a1','tesa1',NULL,NULL,1,NULL,1,'2026-04-27 16:49:46','2026-04-27 16:49:46');
/*!40000 ALTER TABLE `master_mata_kuliah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `setup_tabel_borang`
--

DROP TABLE IF EXISTS `setup_tabel_borang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `setup_tabel_borang` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_tabel` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_tabel` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `kategori` enum('identitas','master','kerjasama','mahasiswa','dosen','kurikulum','luaran','keuangan') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenjang_filter` json NOT NULL,
  `is_wajib` tinyint(1) DEFAULT '1',
  `urutan` int DEFAULT '0',
  `kolom_config` json DEFAULT NULL,
  `deskripsi` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_tabel` (`kode_tabel`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `setup_tabel_borang`
--

LOCK TABLES `setup_tabel_borang` WRITE;
/*!40000 ALTER TABLE `setup_tabel_borang` DISABLE KEYS */;
/*!40000 ALTER TABLE `setup_tabel_borang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `simulasi_matriks`
--

DROP TABLE IF EXISTS `simulasi_matriks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `simulasi_matriks` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_elemen` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenjang` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `bobot` decimal(5,2) NOT NULL,
  `deskripsi_indikator` text COLLATE utf8mb4_unicode_ci,
  `rumus_kalkulasi` text COLLATE utf8mb4_unicode_ci,
  `sumber_data` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=117 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `simulasi_matriks`
--

LOCK TABLES `simulasi_matriks` WRITE;
/*!40000 ALTER TABLE `simulasi_matriks` DISABLE KEYS */;
/*!40000 ALTER TABLE `simulasi_matriks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `simulasi_scenarios`
--

DROP TABLE IF EXISTS `simulasi_scenarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `simulasi_scenarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_skenario` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenjang` enum('D3','S1') COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `simulasi_scenarios`
--

LOCK TABLES `simulasi_scenarios` WRITE;
/*!40000 ALTER TABLE `simulasi_scenarios` DISABLE KEYS */;
INSERT INTO `simulasi_scenarios` VALUES (1,'Skenario Utama (Default)','D3',0,'2026-04-28 08:51:18'),(2,'Skenario Utama (Default)','S1',1,'2026-04-28 08:51:18'),(3,'testing 2','D3',1,'2026-05-04 03:37:31');
/*!40000 ALTER TABLE `simulasi_scenarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `simulasi_skor_asesor`
--

DROP TABLE IF EXISTS `simulasi_skor_asesor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `simulasi_skor_asesor` (
  `id` int NOT NULL AUTO_INCREMENT,
  `scenario_id` int DEFAULT '0',
  `matriks_id` int NOT NULL,
  `skor` decimal(5,2) NOT NULL DEFAULT '0.00',
  `nilai` decimal(5,2) NOT NULL DEFAULT '0.00',
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `matriks_id` (`matriks_id`),
  CONSTRAINT `simulasi_skor_asesor_ibfk_1` FOREIGN KEY (`matriks_id`) REFERENCES `simulasi_matriks` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=145 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `simulasi_skor_asesor`
--

LOCK TABLES `simulasi_skor_asesor` WRITE;
/*!40000 ALTER TABLE `simulasi_skor_asesor` DISABLE KEYS */;
/*!40000 ALTER TABLE `simulasi_skor_asesor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `simulasi_skor_sistem`
--

DROP TABLE IF EXISTS `simulasi_skor_sistem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `simulasi_skor_sistem` (
  `id` int NOT NULL AUTO_INCREMENT,
  `scenario_id` int DEFAULT '0',
  `matriks_id` int NOT NULL,
  `skor` decimal(5,2) NOT NULL DEFAULT '0.00',
  `nilai` decimal(5,2) NOT NULL DEFAULT '0.00',
  `last_calculated` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `matriks_id` (`matriks_id`),
  CONSTRAINT `simulasi_skor_sistem_ibfk_1` FOREIGN KEY (`matriks_id`) REFERENCES `simulasi_matriks` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=139 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `simulasi_skor_sistem`
--

LOCK TABLES `simulasi_skor_sistem` WRITE;
/*!40000 ALTER TABLE `simulasi_skor_sistem` DISABLE KEYS */;
/*!40000 ALTER TABLE `simulasi_skor_sistem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_dosen_bimbingan`
--

DROP TABLE IF EXISTS `trx_dosen_bimbingan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_dosen_bimbingan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `dosen_id` int NOT NULL,
  `tahun_akademik` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jml_bimbingan_ps` int DEFAULT '0',
  `jml_bimbingan_ps_lain` int DEFAULT '0',
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `dosen_id` (`dosen_id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_dosen_bimbingan_ibfk_1` FOREIGN KEY (`dosen_id`) REFERENCES `master_dosen` (`id`) ON DELETE CASCADE,
  CONSTRAINT `trx_dosen_bimbingan_ibfk_2` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_dosen_bimbingan`
--

LOCK TABLES `trx_dosen_bimbingan` WRITE;
/*!40000 ALTER TABLE `trx_dosen_bimbingan` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_dosen_bimbingan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_dosen_mk`
--

DROP TABLE IF EXISTS `trx_dosen_mk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_dosen_mk` (
  `id` int NOT NULL AUTO_INCREMENT,
  `dosen_id` int NOT NULL,
  `mk_id` int NOT NULL,
  `tahun_akademik` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `semester` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `dosen_id` (`dosen_id`),
  KEY `mk_id` (`mk_id`),
  CONSTRAINT `trx_dosen_mk_ibfk_1` FOREIGN KEY (`dosen_id`) REFERENCES `master_dosen` (`id`) ON DELETE CASCADE,
  CONSTRAINT `trx_dosen_mk_ibfk_2` FOREIGN KEY (`mk_id`) REFERENCES `master_mata_kuliah` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_dosen_mk`
--

LOCK TABLES `trx_dosen_mk` WRITE;
/*!40000 ALTER TABLE `trx_dosen_mk` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_dosen_mk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_ewmp`
--

DROP TABLE IF EXISTS `trx_ewmp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_ewmp` (
  `id` int NOT NULL AUTO_INCREMENT,
  `dosen_id` int NOT NULL,
  `tahun_akademik` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sks_pendidikan_ps` decimal(10,2) DEFAULT '0.00',
  `sks_pendidikan_luar` decimal(10,2) DEFAULT '0.00',
  `sks_penelitian` decimal(10,2) DEFAULT '0.00',
  `sks_pkm` decimal(10,2) DEFAULT '0.00',
  `sks_tugas_tambahan` decimal(10,2) DEFAULT '0.00',
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `dosen_id` (`dosen_id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_ewmp_ibfk_1` FOREIGN KEY (`dosen_id`) REFERENCES `master_dosen` (`id`) ON DELETE CASCADE,
  CONSTRAINT `trx_ewmp_ibfk_2` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_ewmp`
--

LOCK TABLES `trx_ewmp` WRITE;
/*!40000 ALTER TABLE `trx_ewmp` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_ewmp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_hki_buku_dtps`
--

DROP TABLE IF EXISTS `trx_hki_buku_dtps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_hki_buku_dtps` (
  `id` int NOT NULL AUTO_INCREMENT,
  `dosen_id` int NOT NULL,
  `judul` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenis` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tahun` year DEFAULT NULL,
  `keterangan` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `dosen_id` (`dosen_id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_hki_buku_dtps_ibfk_1` FOREIGN KEY (`dosen_id`) REFERENCES `master_dosen` (`id`) ON DELETE CASCADE,
  CONSTRAINT `trx_hki_buku_dtps_ibfk_2` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_hki_buku_dtps`
--

LOCK TABLES `trx_hki_buku_dtps` WRITE;
/*!40000 ALTER TABLE `trx_hki_buku_dtps` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_hki_buku_dtps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_ipk_lulusan`
--

DROP TABLE IF EXISTS `trx_ipk_lulusan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_ipk_lulusan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tahun_lulus` year DEFAULT NULL,
  `jml_lulusan` int DEFAULT '0',
  `ipk_min` decimal(4,2) DEFAULT NULL,
  `ipk_max` decimal(4,2) DEFAULT NULL,
  `ipk_rata` decimal(4,2) DEFAULT NULL,
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_ipk_lulusan_ibfk_1` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_ipk_lulusan`
--

LOCK TABLES `trx_ipk_lulusan` WRITE;
/*!40000 ALTER TABLE `trx_ipk_lulusan` DISABLE KEYS */;
INSERT INTO `trx_ipk_lulusan` VALUES (2,2023,80,2.75,3.95,3.45,1,'2026-04-28 08:25:18','2026-04-28 08:25:18');
/*!40000 ALTER TABLE `trx_ipk_lulusan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_kepuasan_pengguna`
--

DROP TABLE IF EXISTS `trx_kepuasan_pengguna`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_kepuasan_pengguna` (
  `id` int NOT NULL AUTO_INCREMENT,
  `jenis_kemampuan` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `persen_sangat_baik` decimal(5,2) DEFAULT '0.00',
  `persen_baik` decimal(5,2) DEFAULT '0.00',
  `persen_cukup` decimal(5,2) DEFAULT '0.00',
  `persen_kurang` decimal(5,2) DEFAULT '0.00',
  `rencana_tindak_lanjut` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_kepuasan_pengguna_ibfk_1` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_kepuasan_pengguna`
--

LOCK TABLES `trx_kepuasan_pengguna` WRITE;
/*!40000 ALTER TABLE `trx_kepuasan_pengguna` DISABLE KEYS */;
INSERT INTO `trx_kepuasan_pengguna` VALUES (1,'Etika',11.00,11.00,11.00,11.00,'22',1,'2026-04-27 17:09:40','2026-04-27 17:09:40');
/*!40000 ALTER TABLE `trx_kepuasan_pengguna` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_kerjasama`
--

DROP TABLE IF EXISTS `trx_kerjasama`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_kerjasama` (
  `id` int NOT NULL AUTO_INCREMENT,
  `jenis_kerjasama` enum('pendidikan','penelitian','pkm') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `lembaga_mitra` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tingkat` enum('internasional','nasional','lokal') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `judul_kegiatan` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `manfaat` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `waktu_durasi` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bukti` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_kerjasama_ibfk_1` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_kerjasama`
--

LOCK TABLES `trx_kerjasama` WRITE;
/*!40000 ALTER TABLE `trx_kerjasama` DISABLE KEYS */;
INSERT INTO `trx_kerjasama` VALUES (1,'pendidikan','tes','nasional','tes 1','','tes','',1,'2026-04-27 16:40:27','2026-04-27 16:40:27');
/*!40000 ALTER TABLE `trx_kerjasama` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_kurikulum`
--

DROP TABLE IF EXISTS `trx_kurikulum`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_kurikulum` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mk_id` int NOT NULL,
  `capaian_pembelajaran` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `metode_pembelajaran` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `bentuk_integrasi_penelitian` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `mk_id` (`mk_id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_kurikulum_ibfk_1` FOREIGN KEY (`mk_id`) REFERENCES `master_mata_kuliah` (`id`) ON DELETE CASCADE,
  CONSTRAINT `trx_kurikulum_ibfk_2` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_kurikulum`
--

LOCK TABLES `trx_kurikulum` WRITE;
/*!40000 ALTER TABLE `trx_kurikulum` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_kurikulum` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_luaran_mhs`
--

DROP TABLE IF EXISTS `trx_luaran_mhs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_luaran_mhs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mahasiswa_id` int DEFAULT NULL,
  `jenis` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `judul` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tahun` year DEFAULT NULL,
  `keterangan` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `mahasiswa_id` (`mahasiswa_id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_luaran_mhs_ibfk_1` FOREIGN KEY (`mahasiswa_id`) REFERENCES `master_mahasiswa` (`id`) ON DELETE SET NULL,
  CONSTRAINT `trx_luaran_mhs_ibfk_2` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_luaran_mhs`
--

LOCK TABLES `trx_luaran_mhs` WRITE;
/*!40000 ALTER TABLE `trx_luaran_mhs` DISABLE KEYS */;
INSERT INTO `trx_luaran_mhs` VALUES (1,1,'Hak Cipta','4124',2026,'21',1,'2026-04-27 17:04:32','2026-04-27 17:04:32');
/*!40000 ALTER TABLE `trx_luaran_mhs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_mahasiswa_asing`
--

DROP TABLE IF EXISTS `trx_mahasiswa_asing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_mahasiswa_asing` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tahun_akademik` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `jml_fulltime` int DEFAULT '0',
  `jml_parttime` int DEFAULT '0',
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_mahasiswa_asing_ibfk_1` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_mahasiswa_asing`
--

LOCK TABLES `trx_mahasiswa_asing` WRITE;
/*!40000 ALTER TABLE `trx_mahasiswa_asing` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_mahasiswa_asing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_masa_studi`
--

DROP TABLE IF EXISTS `trx_masa_studi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_masa_studi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tahun_masuk` year DEFAULT NULL,
  `jml_mhs_diterima` int DEFAULT '0',
  `jml_lulus_akhir_ts` int DEFAULT '0',
  `jml_lulus_akhir_ts1` int DEFAULT '0',
  `jml_lulus_akhir_ts2` int DEFAULT '0',
  `jml_lulus_akhir_ts3` int DEFAULT '0',
  `jml_lulus_akhir_ts4` int DEFAULT '0',
  `jml_lulus_akhir_ts5` int DEFAULT '0',
  `jml_lulus_akhir_ts6` int DEFAULT '0',
  `rata_masa_studi` decimal(5,2) DEFAULT NULL,
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_masa_studi_ibfk_1` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_masa_studi`
--

LOCK TABLES `trx_masa_studi` WRITE;
/*!40000 ALTER TABLE `trx_masa_studi` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_masa_studi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_penelitian_dtps`
--

DROP TABLE IF EXISTS `trx_penelitian_dtps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_penelitian_dtps` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sumber` enum('pt_mandiri','dalam_negeri','luar_negeri') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tahun_akademik` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jumlah_judul` int DEFAULT '0',
  `dana` decimal(15,2) DEFAULT '0.00',
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_penelitian_dtps_ibfk_1` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_penelitian_dtps`
--

LOCK TABLES `trx_penelitian_dtps` WRITE;
/*!40000 ALTER TABLE `trx_penelitian_dtps` DISABLE KEYS */;
INSERT INTO `trx_penelitian_dtps` VALUES (1,'pt_mandiri','ts',1,111.00,1,'2026-04-27 17:03:27','2026-04-27 17:03:27');
/*!40000 ALTER TABLE `trx_penelitian_dtps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_penelitian_mhs`
--

DROP TABLE IF EXISTS `trx_penelitian_mhs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_penelitian_mhs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `judul` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `mahasiswa_id` int DEFAULT NULL,
  `dosen_id` int DEFAULT NULL,
  `tahun` year DEFAULT NULL,
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `mahasiswa_id` (`mahasiswa_id`),
  KEY `dosen_id` (`dosen_id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_penelitian_mhs_ibfk_1` FOREIGN KEY (`mahasiswa_id`) REFERENCES `master_mahasiswa` (`id`) ON DELETE SET NULL,
  CONSTRAINT `trx_penelitian_mhs_ibfk_2` FOREIGN KEY (`dosen_id`) REFERENCES `master_dosen` (`id`) ON DELETE SET NULL,
  CONSTRAINT `trx_penelitian_mhs_ibfk_3` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_penelitian_mhs`
--

LOCK TABLES `trx_penelitian_mhs` WRITE;
/*!40000 ALTER TABLE `trx_penelitian_mhs` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_penelitian_mhs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_pkm_dtps`
--

DROP TABLE IF EXISTS `trx_pkm_dtps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_pkm_dtps` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sumber` enum('pt_mandiri','dalam_negeri','luar_negeri') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tahun_akademik` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jumlah_judul` int DEFAULT '0',
  `dana` decimal(15,2) DEFAULT '0.00',
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_pkm_dtps_ibfk_1` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_pkm_dtps`
--

LOCK TABLES `trx_pkm_dtps` WRITE;
/*!40000 ALTER TABLE `trx_pkm_dtps` DISABLE KEYS */;
INSERT INTO `trx_pkm_dtps` VALUES (1,'dalam_negeri','ts',11,1111.00,1,'2026-04-27 17:04:12','2026-04-27 17:04:12');
/*!40000 ALTER TABLE `trx_pkm_dtps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_pkm_mhs`
--

DROP TABLE IF EXISTS `trx_pkm_mhs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_pkm_mhs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `judul` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `mahasiswa_id` int DEFAULT NULL,
  `dosen_id` int DEFAULT NULL,
  `tahun` year DEFAULT NULL,
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `mahasiswa_id` (`mahasiswa_id`),
  KEY `dosen_id` (`dosen_id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_pkm_mhs_ibfk_1` FOREIGN KEY (`mahasiswa_id`) REFERENCES `master_mahasiswa` (`id`) ON DELETE SET NULL,
  CONSTRAINT `trx_pkm_mhs_ibfk_2` FOREIGN KEY (`dosen_id`) REFERENCES `master_dosen` (`id`) ON DELETE SET NULL,
  CONSTRAINT `trx_pkm_mhs_ibfk_3` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_pkm_mhs`
--

LOCK TABLES `trx_pkm_mhs` WRITE;
/*!40000 ALTER TABLE `trx_pkm_mhs` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_pkm_mhs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_prestasi_mhs`
--

DROP TABLE IF EXISTS `trx_prestasi_mhs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_prestasi_mhs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_kegiatan` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `mahasiswa_id` int DEFAULT NULL,
  `tingkat` enum('internasional','nasional','wilayah') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `prestasi` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tahun` year DEFAULT NULL,
  `jenis_prestasi` enum('akademik','non_akademik') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'akademik',
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `mahasiswa_id` (`mahasiswa_id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_prestasi_mhs_ibfk_1` FOREIGN KEY (`mahasiswa_id`) REFERENCES `master_mahasiswa` (`id`) ON DELETE SET NULL,
  CONSTRAINT `trx_prestasi_mhs_ibfk_2` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_prestasi_mhs`
--

LOCK TABLES `trx_prestasi_mhs` WRITE;
/*!40000 ALTER TABLE `trx_prestasi_mhs` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_prestasi_mhs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_publikasi_dtps`
--

DROP TABLE IF EXISTS `trx_publikasi_dtps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_publikasi_dtps` (
  `id` int NOT NULL AUTO_INCREMENT,
  `jenis` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tahun_akademik` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jumlah_judul` int DEFAULT '0',
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_publikasi_dtps_ibfk_1` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_publikasi_dtps`
--

LOCK TABLES `trx_publikasi_dtps` WRITE;
/*!40000 ALTER TABLE `trx_publikasi_dtps` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_publikasi_dtps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_rekognisi_dosen`
--

DROP TABLE IF EXISTS `trx_rekognisi_dosen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_rekognisi_dosen` (
  `id` int NOT NULL AUTO_INCREMENT,
  `dosen_id` int NOT NULL,
  `bidang_keahlian` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rekognisi` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `bukti` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `dosen_id` (`dosen_id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_rekognisi_dosen_ibfk_1` FOREIGN KEY (`dosen_id`) REFERENCES `master_dosen` (`id`) ON DELETE CASCADE,
  CONSTRAINT `trx_rekognisi_dosen_ibfk_2` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_rekognisi_dosen`
--

LOCK TABLES `trx_rekognisi_dosen` WRITE;
/*!40000 ALTER TABLE `trx_rekognisi_dosen` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_rekognisi_dosen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_seleksi_mahasiswa`
--

DROP TABLE IF EXISTS `trx_seleksi_mahasiswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_seleksi_mahasiswa` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tahun_akademik` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `daya_tampung` int DEFAULT '0',
  `pendaftar` int DEFAULT '0',
  `lulus_seleksi` int DEFAULT '0',
  `maba_reguler` int DEFAULT '0',
  `maba_transfer` int DEFAULT '0',
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_seleksi_mahasiswa_ibfk_1` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_seleksi_mahasiswa`
--

LOCK TABLES `trx_seleksi_mahasiswa` WRITE;
/*!40000 ALTER TABLE `trx_seleksi_mahasiswa` DISABLE KEYS */;
INSERT INTO `trx_seleksi_mahasiswa` VALUES (2,'2023/2024',100,600,95,90,0,1,'2026-04-28 08:25:18','2026-04-28 08:25:18');
/*!40000 ALTER TABLE `trx_seleksi_mahasiswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_sitasi_dtps`
--

DROP TABLE IF EXISTS `trx_sitasi_dtps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_sitasi_dtps` (
  `id` int NOT NULL AUTO_INCREMENT,
  `dosen_id` int NOT NULL,
  `judul_artikel` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jurnal_vol_tahun_hal` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jumlah_sitasi` int DEFAULT '0',
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `dosen_id` (`dosen_id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_sitasi_dtps_ibfk_1` FOREIGN KEY (`dosen_id`) REFERENCES `master_dosen` (`id`) ON DELETE CASCADE,
  CONSTRAINT `trx_sitasi_dtps_ibfk_2` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_sitasi_dtps`
--

LOCK TABLES `trx_sitasi_dtps` WRITE;
/*!40000 ALTER TABLE `trx_sitasi_dtps` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_sitasi_dtps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_tempat_kerja`
--

DROP TABLE IF EXISTS `trx_tempat_kerja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_tempat_kerja` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tahun_lulus` year DEFAULT NULL,
  `jml_lokal` int DEFAULT '0',
  `jml_nasional` int DEFAULT '0',
  `jml_multinasional` int DEFAULT '0',
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_tempat_kerja_ibfk_1` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_tempat_kerja`
--

LOCK TABLES `trx_tempat_kerja` WRITE;
/*!40000 ALTER TABLE `trx_tempat_kerja` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_tempat_kerja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_waktu_tunggu`
--

DROP TABLE IF EXISTS `trx_waktu_tunggu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_waktu_tunggu` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tahun_lulus` year DEFAULT NULL,
  `jml_lulusan` int DEFAULT '0',
  `jml_terlacak` int DEFAULT '0',
  `wt_kurang_3bln` int DEFAULT '0',
  `wt_3_sd_6bln` int DEFAULT '0',
  `wt_lebih_6bln` int DEFAULT '0',
  `prodi_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `prodi_id` (`prodi_id`),
  CONSTRAINT `trx_waktu_tunggu_ibfk_1` FOREIGN KEY (`prodi_id`) REFERENCES `identitas_pengusul` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_waktu_tunggu`
--

LOCK TABLES `trx_waktu_tunggu` WRITE;
/*!40000 ALTER TABLE `trx_waktu_tunggu` DISABLE KEYS */;
INSERT INTO `trx_waktu_tunggu` VALUES (1,2001,11,11,11,11,11,1,'2026-04-27 17:09:10','2026-04-27 17:09:10');
/*!40000 ALTER TABLE `trx_waktu_tunggu` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-04 13:58:35
